
<ion-header>

  <ion-navbar>
    <ion-title>Chats</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="contactsPage">
    <ion-searchbar
    [(ngModel)]="myInput"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="onSearchInput($event)"
    (ionCancel)="onCancel($event)"
    name="myInput"
    >
  </ion-searchbar>
  <ion-list>
    <ion-item *ngFor="let chat of chats" (click)="onChatStarted(chat)" >
      <ion-thumbnail item-start>
        <img src="assets/img/Unknown_Person.png">
      </ion-thumbnail>
        <!-- <h3>CHATID: {{ chat.chatid }}</h3> -->
        <p>By: {{ chat.members[0]?.name }}</p>            
        <p>Text: {{ chat.message }}</p>       
        <p>{{ chat.newest_message | date: 'medium' }} </p>
    </ion-item>
  </ion-list>

  <ion-list>
      <!-- <ion-item *ngFor="let cnt of contacts" (click)="contactSelected(cnt)"> -->
        <!-- <profile-header [fullName]="cnt.getFullName()" [profileImage]="cnt.profileImage"></profile-header> -->
        <!-- <p style="margin-top:10px">{{cnt.employment}}</p>
        <p>{{cnt.education}}</p>
      </ion-item> -->
    </ion-list>
</ion-content>